body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1c1b1c;
}

h1 {
    color: #ffffff;
}

.Calculator {
    background-color: rgb(197, 197, 197);
    width: 300px;
    border-radius: 10px;
    padding: 20px;
}

#display {
    width: 100%;
    box-sizing: border-box;
    height: 60px;
    border: none;
    border-radius: 6px;
    background-color: white;
    text-align: right;
    font-size: 20px;
    margin-bottom: 16px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 60px);
    gap: 10px;
}

button {
    border: none;
    height: 60px;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;;
}

button:hover{
    background-color: tomato;
}

.btn-zero {
    grid-column: span 2;
}

.btn-result {
    grid-row: 4 / 6;
    height: 100%;
    grid-column: 4;
}
footer {
    margin-top: 20px;
    color: #ffffff;
}